/* Font & text properties for headings  */

body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 5em;
    font-style: italic;
    font-variant: small-caps;

    text-align: center;
}

h2 {
    font-size: 3em;
    font-variant: small-caps;
}

h3 {
    font-size: 1.5em;
}

/* Navigation */

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

nav ul {
    padding: 0;
    text-align:center;
}

nav li {
    list-style-type: none;

    display: inline-block;
    padding: 10px;
}

/* Images */

header img {
    width: 960px;
}

article img {
    width: 400px;
}

/* Contact form */

.experience input[type=text], .experience input[type=email], .experience textarea {
    width: 100%;

    padding: 12px 20px;
    margin: 8px 0;
}

.experience {
    margin-bottom: 20px;
}

/* Activities */

.flex-container {
 display: flex;
}

.activity img {
    margin-right: 10px;
}

.activity figure {
    margin-top: 0;
}

.activity ul {
    padding: 0;
}

.activity li {
    list-style-position: inside;
}

/* Center the webpage */

.center {
    max-width: 960px;
    margin: 0 auto;
}
