/* Font & text properties for headings  */

body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 5em;
    font-style: italic;
    font-variant: small-caps;

    text-align: center;
}

h2 {
    font-size: 3em;
    font-variant: small-caps;
}

h3 {
    font-size: 1.5em;
}

/* Images */

header img {
    width: 960px;
}

article img {
    width: 400px;
}

/* Contact form */

#experience_form {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 30px;
}

#experience_form input, #experience_form textarea {
    margin-bottom: 10px;
    padding: 10px;
}

#experience_form input[type="text"], #experience_form textarea {
    width: 300px;
    padding: 10px;
} 

#experience_form label {
    width: 100px;
}

#experience_form textarea {
    height: 100px;
}

#experience_form input, #experience_form textarea, #experience_form label {
    vertical-align: top;
    display: inline-block;
}

/* Activities */

.activity img {
    margin-right: 10px;
}

.activity figure {
    margin-top: 0;
}

.activity ul {
    padding: 0;
}

.activity li {
    list-style-position: inside;
}

/* Center the webpage */

.center {
    max-width: 960px;
    margin: 0 auto;
}

/* Navigation menu */

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

nav ul {
    padding: 0;
    text-align:center;
}

nav li {
    list-style-type: none;

    display: inline-block;
    padding: 10px;
}

nav ul {
    background-color: black;
    margin: 0 0 30px 0;
}

/* unvisited link */
nav a:link {
    color: #DCDCDC;
  }
  
  /* visited link */
  nav a:visited {
    color: #DCDCDC;
  }
  
  /* mouse over link */
  nav a:hover {
    color: white;
  }
  
  /* selected link */
  nav a:active {
    color: white;
  }

  /* Layout */

  .flex-container {
    display: flex;
}
