/* Font & text properties */

/* Type selectors */

body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;

    margin-bottom: 5px;
}

h2 {
    font-size: 3em;
}

footer {
    text-align: center;
}

/* Class selector */

.bold {
    font-weight: bold;
}

/* Combinator selector: descendant selector using id and type selectors */

#experience_form label {
    font-weight: bold;
}

/* Sizing */

#experience_form textarea {
    height: 100px;
    width: 100%;

    padding: 10px;
}

/* Descendant selector using id and attribute selectors */
#experience_form input[type="text"], input[type="email"] {
    width: 300px;
} 

/* Spacing */

#experience_form input, #experience_form textarea, #experience_form label {
    display: block;
    margin-bottom: 10px;
}

#experience_form input, #experience_form textarea {
    margin-bottom: 10px;
    padding: 10px;
}

/* Center content relative to the page's width */
.container {
    max-width: 960px;
    margin: 0 auto 50px auto;
}

/* Multicolumn layout for activities */
.activity-row {
    display: flex;
    margin-bottom: 20px;
}

.activity-col {
    padding: 10px;
}

/* Circle-shaped images */
.activity-col img {
    border-radius: 50%;
}

/* Enclose the main content using top and bottom borders */
main {
    border-top: 1px solid grey; 
    border-bottom: 1px solid grey; 
}

/* Navigation menu */

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav ul {
    background-color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    list-style-type: none;

    display: inline-block;
    margin: 0;
    padding: 10px 10px 10px 10px;
}

/* unvisited link */
nav a:link {
    color: grey;
}

/* visited link */
nav a:visited {
    color: lightGray;
}

/* mouse over link */
nav a:hover {
    color: white;
}

/* selected link */
nav a:active {
    color: white;
}